body {
    font-family: system-ui; /*usa a fonte do sistema*/
    line-height: 0.5; /*distancia entre o titulo e sub*/
    font-weight: 400;
    margin: 0;
    display: flex;
    place-items: center;
    width: 320px;
    height: 100vh;
  }
  
  .pagina {
    width: 100vw;
    display: flex;
    justify-content: center;

  }

  .titulo {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  .img {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  div img {
    width: 400px
  }